<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  
  <style>
    body {
      font-family: "Poppins", sans-serif;
    }

    .fa-heart-o {
      color: maroon;
    }
  </style>
  <link rel="icon" href="/images/logo.png" type="image/png">
  <title>Kader UKMI</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
    <a class="navbar-brand" href="#">
      <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      UKMI
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
      </ul>
      <a class="btn btn-outline-secondary btn-sm" href="/logout" role="button">Sign Out</a>
    </div>
  </nav>
  <div class="container">
    <div class="card mt-3">
      <div class="card-header">
        <h3>Admin Panel</h3>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="p-2 bd-highlight">
            <h5 class="text-muted">Add New Kader</h5>
          </div>
          <div class="p-2 bd-highlight">
            <a href="/admin" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Kembali
            </a>
          </div>
        </div>
        <form method="POST" action="">
          <div class="form-group row">
            <label for="nim" class="col-sm-2 col-form-label">NIM</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="nim" id="nim" placeholder="Masukkan NIM" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="nama" class="col-sm-2 col-form-label">Nama Lengkap</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="namalengkap" id="nama" placeholder="Masukkan Nama Lengkap"
                required>
            </div>
          </div>

          <div class="form-group row">
            <label for="jurusan" class="col-sm-2 col-form-label">Jurusan</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="jurusan" id="jurusan" placeholder="Masukkan Jurusan"
                required>
            </div>
          </div>

          <div class="form-group row">
            <label for="tempatlahir" class="col-sm-2 col-form-label">Tempat Lahir</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="tempatlahir" id="tempatlahir"
                placeholder="Masukkan Tempat Lahir" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="tanggallahir" class="col-sm-2 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="tanggallahir" id="tanggallahir" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="alamat" class="col-sm-2 col-form-label">Alamat Sekarang</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="alamat" name="alamat" placeholder="Masukkan Alamat Sekarang" rows="3"
                required></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="nohp" class="col-sm-2 col-form-label">Nomor Handphone</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="nohp" name="nohp" placeholder="Masukkan Nomor Handphone"
                required>
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" placeholder="Masukkan Email">
            </div>
          </div>

          <div class="form-group row">
            <label for="Divisi" class="col-sm-2 col-form-label">Divisi</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Divisi" name="divisi" placeholder="Masukkan Divisi">
            </div>
          </div>

          <div class="form-group row">
            <label for="hobi" class="col-sm-2 col-form-label">Hobby</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="hobi" name="hobby" placeholder="Masukkan Hobby">
            </div>
          </div>

          <div class="form-group row">
            <label for="org" class="col-sm-2 col-form-label">Pengalaman Organisasi</label>
            <div class="col-sm-10">
              <!-- <input type="text" class="form-control" id="org" name="pengalamanorganisasi" required placeholder="Masukkan Pengalaman Organisasi">  -->
              <textarea class="form-control" id="org" name="pengalamanorganisasi"
                placeholder="Masukkan Pengalaman Organisasi" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="pengkaderan" class="col-sm-2 col-form-label">Pengkaderan <br><span class="text-muted">yang
                sudah diikuti</span></label>
            <div class="col-sm-10">
              <!-- <input type="text" class="form-control" id="pengkaderan" name="pengkaderan" placeholder="Masukkan Pengkaderan"> -->
              <textarea class="form-control" id="pengkaderan" name="pengkaderan" placeholder="Masukkan Pengkaderan"
                rows="3"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="sertifikat" class="col-sm-2 col-form-label">Sertifikat <br><span class="text-muted">selama
                kepengurusan</span></label>
            <div class="col-sm-10">
              <textarea class="form-control" id="sertifikat" name="sertifikat" placeholder="Masukkan Sertifikasi"
                rows="3"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane"></i> Post</button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted text-center">
        Dibuat dengan <i class="fa fa-heart fa-heart-o"></i> oleh Hamba Allah
      </div>
    </div>
    <br><br>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>